* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid gray;
  width: 50vw;
  height: 40vh;
  border-radius: 2%;
}
input {
  width: 50%;
}

.coolStyle {
  font-size: 3rem;
  background-color: violet;
  color: yellow;
  border: 4px dashed black;
}
.onoffswitch {
  position: relative;
  width: 90px;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;

  border: 2px solid gray;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: 2s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;

  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: green;
  color: white;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: red;
  color: white;
  text-align: right;
}
.onoffswitch-switch {
  display: flex;
  width: 18px;
  margin: 6px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid black;
  background-color: blue;
  border-radius: 20px;
  transition: all 3s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
