/* body {
  background-color: green;
} */
@media screen and (max-width: 600px) {
  /* body {
      background-color: blue;
    } */
}
@media screen and (min-width: 600px) {
  body {
    background-color: red;
  }
}
.hamburger {
  display: block;
  background-color: black;
  width: 50px;
  height: 6px;
  margin: 6px 0;
}
