ul li {
  color: crimson;
}
table {
  background-color: silver;
}
th {
  font-size: xx-large;
}

#name {
  color: blue;
}
#firstRow {
  color: green;
}
.age {
  color: greenyellow;
}
.firstRow {
  color: #97ffd9;
}
