/* CSS selectors */

/* Element selector */
html {
  font-size: 16px;
  /* margin: 0; */
  display: block;
}
/* #ID selector */
#random-text {
  color: teal;
}
td {
  width: 800px;
  height: 5px;
  border: 10px 10px 10px solid blacks;
}
